div {
    width: 100%;
    display: grid;
    place-content: center;
}

h1{
    padding-top: 20px;
    text-align: center;
    font-size: large;
}

.image{
    background: url(../images/mamasara.jpg) no-repeat;
    /*con cover la imagen se adapta al tamanio de la caja, parte de la imagen no se ve, esto depende
    de las dimensiones y si usamos contain puede que la imagen no se muestre en toda la caja*/
    background-size: cover;
    margin: 25px;
    height: 200px;
    width: 200px;
    /*Con esta propiedad hacemos que la imagen tengas esquinas redondeadas*/
    border-radius: 25px;
    /*creamos el efecto de sombra de la imagen*/
    box-shadow: 0 0 20px rgba(0, 0, 0,0.5);
}

.imagelobo{
    background: url(../) no-repeat;
    /*con cover la imagen se adapta al tamanio de la caja, parte de la imagen no se ve, esto depende
    de las dimensiones y si usamos contain puede que la imagen no se muestre en toda la caja*/
    background-size: cover;
    margin: 25px;
    height: 200px;
    width: 200px;
    /*Con esta propiedad hacemos que la imagen tengas esquinas redondeadas*/
    border-radius: 25px;
    /*creamos el efecto de sombra de la imagen*/
    box-shadow: 0 0 20px rgba(0, 0, 0,0.5);
}

a:link{
    color: white;
    text-decoration: none;
}