/*usamos una variable de color para poder modificar más fácil
ya que la web solo usa color blanco para sus textos*/
$color_de_estilo: white;

*{
    color: $color_de_estilo;
}

/*creamos una clase placeholder para poner propiedades que se repiten en los 
títulos*/
%propiedades_titulos{    
    padding-top: 15px;
    text-align: center;
}

%estilo_body{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2{
    color:$color_de_estilo !important;
    @extend %propiedades_titulos;
    font-size: 30px !important;
}

/*esto lo saque de la pagina iugradients para hacer el fondo mas bonito*/
body{
   @extend %estilo_body;
}

a{
    text-decoration: none;
    padding: 2px 2px;
    
    &:link, &:visited {
        color: $color_de_estilo;
    }

    /*con backgraund color y border radius creamos un efecto de presionado en los apartados de la barra
    de navegación*/
    &:hover, &:active {
        background-color: #343a40;
        text-decoration: none;
        border-radius: 10px;
    }

}


/*ejemplo de anidacion sass, este contenedor sirve para mostrar en la pagina de inicio*/
.container_img_index{
    width: 100%;
    display: flex;
    justify-content: center; 

    .img_inicio{
        background: url(../images/imginicio.jpg) no-repeat;
        /*con cover la imagen se adapta al tamanio de la caja, parte de la imagen no se ve, esto depende
        de las dimensiones y si usamos contain puede que la imagen no se muestre en toda la caja*/
        background-size: cover;
        margin: 25px;
        height: 300px;
        width: 900px;
        opacity: 0.8;
        /*Con esta propiedad hacemos que la imagen tengas esquinas redondeadas*/
        border-radius: 25px;
        /*creamos el efecto de sombra de la imagen*/
        box-shadow: 0 0 20px rgba(0, 0, 0,0.5);
        /*Ajustes para las fuentes*/
    }
    
    #titulo{
        @extend %propiedades_titulos;
        padding-bottom: 20px;
       
    }
    
}

.contenedor_img{
    width: 100%;
    display: flex;
    justify-content: center; 
}

p{
    text-align: left;
    font-size: large;
    margin: 15px 90px;
}

/*lo usamos para el vídeo que mostramos en la historia del diablo en el lobo jack*/
iframe{
    margin-bottom: 20px;
}

/*ajustamos los valores para img, ya que solo la usaremos para el apartado de anécdotas
y en este todas las imágenes tendrán el mismo tamaño y propiedades*/
img{
    height: 300px;
    width: 450px;
    margin: 25px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0,0.5);
}

/*creamos una clase para mostrar la imagen de mama sara ya que esta tendrá propiedes 
únicas que no se repiten en otras imágenes*/
.img_mama_sara{
    background: url(../images/mamasara.jpg) no-repeat;
    /*con cover la imagen se adapta al tamanio de la caja, parte de la imagen no se ve, esto depende
    de las dimensiones y si usamos contain puede que la imagen no se muestre en toda la caja*/
    background-size: cover;
    margin: 25px;
    height: 400px;
    width: 900px;
    opacity: 0.8;
    /*Con esta propiedad hacemos que la imagen tengas esquinas redondeadas*/
    border-radius: 25px;
    /*creamos el efecto de sombra de la imagen*/
    box-shadow: 0 0 20px rgba(0, 0, 0,0.5);
}

.img_acordeon_killer{
    background: url(../images/asesino_del_acordeon.jpg) no-repeat;
    /*con cover la imagen se adapta al tamanio de la caja, parte de la imagen no se ve, esto depende
    de las dimensiones y si usamos contain puede que la imagen no se muestre en toda la caja*/
    background-size: cover;
    margin: 25px;
    height: 400px;
    width: 900px;
    opacity: 0.8;
    /*Con esta propiedad hacemos que la imagen tengas esquinas redondeadas*/
    border-radius: 25px;
    /*creamos el efecto de sombra de la imagen*/
    box-shadow: 0 0 20px rgba(0, 0, 0,0.5);
}

.img_loenes_somoza{
    background: url(../images/leonesomoza.jpg) no-repeat;
    /*con cover la imagen se adapta al tamanio de la caja, parte de la imagen no se ve, esto depende
    de las dimensiones y si usamos contain puede que la imagen no se muestre en toda la caja*/
    background-size: contain;
    margin: 25px;
    height: 350px;
    width: 535px;
    opacity: 0.8;
    /*Con esta propiedad hacemos que la imagen tengas esquinas redondeadas*/
    border-radius: 25px;
    /*creamos el efecto de sombra de la imagen*/
    box-shadow: 0 0 20px rgba(0, 0, 0,0.5);
}

table{
    margin-top: 20px;
}

ul{
    justify-content: center;
}
/*el media screen sirve para ajustar las propiedades de la web a pantallas
más grandes o más pequeñas

aunque usemos el grid layaut para las img, en este caso cuando la pantalla sea menor a 585px y mayor a 400px las imágenes son muy 
grandes entonces modificamos el tamaño de las imágenes para poder visualizar mejor las img
mejor las imágenes que nos redireccionan a otras páginas*/

@media screen and (min-width: 400px) and (max-width: 585px){
   
    img{
        width: 75%;
        height: 75%;
   }

   h2{
        color:$color_de_estilo !important;
        @extend %propiedades_titulos;
        font-size: 15px !important;
    }
}
